<!DOCTYPE html>
<html>
<head>
	<title>Postage Calculator</title>
</head>
<body>
	<h1>Results</h1>
    <p>You selected the shipping type: <b> "<%= shippingType %>" </b><br>
         with a weight of: <%= weight %> for a total price of : $ <%= total %></p>
</body>
</html>